//Importing exteral files...
// _______________________

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Poppins&display=swap");

//Variables
// _________

$primary-color: hsl(200, 15%, 8%);

// General reset
// ________________

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-wrap: break-word;
  color: hsl(200, 15%, 8%);
  font-size: 14px;
}

a {
  text-decoration: unset;
}

span,
a,
img {
  display: inline-block;
}

ul {
  list-style: none;
}

i {
  background: inherit;
}

//Component style
// _______________

// body {
//   background: hsl(207, 26%, 17%);
// }

body,
.card--lower-section,
.search-box,
.drop-box--title-section,
.drop-down-list,
.tag--link .navigator--btn,
.top-header-wrapper {
  transition: all 0.3s ease;
}

body,
.top-header-wrapper .content-container,
.mode-content,
.content-tag--home,
.search-box,
.drop-box--title-section,
.list--countries,
.navigator--btn,
.tag-container {
  display: flex;
}

body,
.content-tag--home,
.list--countries {
  flex-direction: column;
}

body,
.top-header-wrapper .content-container,
.mode-content,
.search-box,
.drop-box--title-section {
  align-items: center;
}

.list--countries {
  align-items: center !important;
}

.top-header-wrapper .content-container,
.drop-box--title-section {
  justify-content: space-between;
}

.wrapper--page {
  max-width: 1440px;
}

.page-preloader {
  position: absolute;
  height: 2px;
  background: rgb(52, 153, 82);
}

.base-header-content--search-section,
.wrapper--page {
  width: 100%;
}

.wrapper--page,
.page--framer {
  overflow-x: hidden;
}

.section--header {
  margin-bottom: 3rem;
}

.content-container {
  width: 92%;
  margin: auto;
}

.top-header-wrapper {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.title-block {
  font-size: 1.2rem;
  h1 {
    font-size: inherit;
  }
}

.mode--icon {
  margin-right: 0.5rem;
}

.mode--name,
.info-name,
.drop-box,
.navigator--title {
  font-weight: 600;
}

.header-content--theme,
.search-box--icon-box,
.drop-box--title-section,
.title-block,
.card {
  cursor: pointer;
}

.search-box,
.drop-box,
.wrapper--page,
.tag--home {
  position: relative;
}

.search-box,
.drop-box--title-section,
.drop-down-list,
.card,
.navigator--btn,
.tag-container a,
.top-header-wrapper {
  box-shadow: 0 0px 10px rgba(182, 182, 182, 0.562);
}

.drop-box--title-section,
.drop-down-list,
.search-box {
  border-radius: 4px;
}

.search-box {
  padding-right: 10px;
  z-index: 1;
}

.search-box--search-field {
  flex: 1 0 0;
  $color: hsl(207, 26%, 17%);
  input {
    background: none;
    outline: none;
    padding: 1.2rem 0.5rem;
    width: 100%;
    border: none;

    &::placeholder {
      color: lighten($color, 50);
    }
  }
}

.search-box--icon-box {
  padding: 1.2rem 0.9rem;

  i {
    color: rgb(180, 179, 179);
    font-size: 1rem;
  }
}

.search-box--shell {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 2px solid rgb(60, 191, 130);
  border-radius: inherit;
  transform-origin: 50% 50%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shrink--js {
  display: none;
  transform: scale(0, 1);
}

.expand--js {
  animation: expand 0.3s ease forwards;
}

.fixed--js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.base-header-content--drop-box {
  margin-top: 2rem;
}

.drop-box {
  display: table;
  padding-bottom: 0.5rem;
}

.drop-box--title-section,
.navigator--btn {
  padding: 1rem;
}

.drop-box--icon-arrow {
  margin-left: 1rem;

  i {
    margin-left: 2rem;
  }
}

.drop-down-list {
  overflow-y: hidden;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: rgb(255, 255, 255);
  z-index: 1;

  a {
    padding: 1rem;
    width: 100%;
    transition: 0.3s ease;
  }
}

.card,
.home-content-preloader-wrapper {
  margin-bottom: 3rem;
}

.card {
  transition: all 0.3s ease;
  width: 300px;
}

.card--upper-section {
  width: 100%;

  img {
    width: inherit;
    object-fit: cover;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.card--lower-section {
  padding: 2rem 1rem 2.5rem 1rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card--title {
  margin-bottom: 0.5rem;

  h3 {
    font-size: 1.2rem;
  }
}

.info-list {
  width: 100%;

  span {
    line-height: 2;
  }
}

.list--countries {
  align-items: flex-start;
}

.info-name {
  margin-right: 0.5rem;
}

.hidden--js .navigator--btn {
  width: 100px;
}

.country--flag-section {
  width: 100%;
  margin-bottom: 2rem;

  img {
    object-fit: cover;
    width: inherit;
    background: rgb(214, 214, 214);
  }
}

.about-content-preloader-wrapper .image-placeholder {
  height: 200px;
}

.country-name {
  margin-bottom: 1rem;

  h1 {
    font-size: 1.6rem;
  }
}

.country-info--col-1,
.country-info--col-2 {
  margin-bottom: 2rem;
}

.country-details--footer {
  .info-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;

    span {
      font-size: inherit;
    }
  }
}

.tag-container {
  flex-wrap: wrap;

  a {
    padding: 0.4rem 1.2rem;
    margin-bottom: 1rem;
  }

  a:not(a:last-child) {
    margin-right: 1rem;
  }
}

main {
  padding-bottom: 2rem;
}

.navigator--icon-arrow {
  i {
    margin-right: 2rem;
  }
}

.about-content-preloader-wrapper .wrapper--content {
  margin-top: 2rem;
}

.observer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 4px;
}

.home-content-preloader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: unset;
  width: 300px;
}

.about-content-preloader-wrapper .wrapper--image-placeholder {
  width: 100%;
  max-width: 500px;
}

.home-content-preloader-wrapper .wrapper--image-placeholder,
.home-content-preloader-wrapper .wrapper--content {
  width: inherit;
}

.home-content-preloader-wrapper .wrapper--image-placeholder {
  margin-bottom: 1.3rem;
}

.home-content-preloader-wrapper .image-placeholder {
  height: 200px;
}

.content {
  height: 35px;
}

.image-placeholder,
.content {
  border-radius: 20px;
  opacity: 0.25;
  animation: loader 1s alternate cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.content:not(.content:last-child) {
  margin-bottom: 1.3rem;
}

.base-header-content--navigator {
  display: table;
}

// Animations
//____________

@keyframes loader {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes expand {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1);
  }
}

// Responsive
// ______________

@media (min-width: 404px) {
  .country--flag-section {
    //Default size
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 446px) {
  .title-block {
    font-size: 1.5rem;
  }
}

@media (min-width: 586px) {
  .content-tag--home {
    flex-direction: row;
    justify-content: space-between;
  }

  .base-header-content--drop-box {
    margin-top: 0;
  }

  .base-header-content--search-section {
    margin-right: 2rem;
  }

  .title-block {
    font-size: 2rem;
  }
}

@media (min-width: 634px) {
  .country--info-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
  }

  .country-info--col-1 {
    grid-column: 1/2;
  }

  .country-info--col-2 {
    grid-column: 2/3;
  }

  .country-details--footer {
    .info {
      display: flex;
      align-items: center;
    }

    .info-name {
      flex: 0 1 auto;
      margin-right: 2rem;
    }

    .tag-container {
      flex: 1 0 auto;
    }
  }
}

@media (min-width: 710px) {
  .base-header-content--search-section {
    max-width: 425px;
  }
}

@media (min-width: 758px) {
  .list--countries {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start !important;
  }
}

@media (min-width: 966px) {
  .country--about,
  .about-content-preloader-wrapper {
    display: grid;
    grid-template-columns: 500px auto;
    grid-gap: 2rem;
  }

  .about-content-preloader-wrapper .wrapper--content {
    margin-top: 0;
  }

  .country--flag-section,
  .wrapper--image-placeholder {
    grid-column: 1/2;
  }

  .country--details-section,
  .about-content-preloader-wrapper .wrapper--content {
    grid-column: 2/3;
  }

  .country-details--footer {
    .info-name {
      font-size: 14px;
    }
  }
}

@media (min-width: 1116px) {
  .country--about,
  .about-content-preloader-wrapper {
    grid-gap: 5rem;
  }
}

@media (min-width: 1288px) {
  .country--about,
  .about-content-preloader-wrapper {
    grid-gap: 7rem;
  }
}

@media (min-width: 1360px) {
  .country--about,
  .about-content-preloader-wrapper {
    grid-gap: 10rem;
  }
}

// Javascript classes
.hidden--js {
  display: none;
}

.input--error-js {
  border: 2px solid #e6225d;
}
